.calendar_event
  display: flex
  align-items: flex-end
  gap: .5rem
  margin-top: 0.5rem
  padding: .2rem
  border-radius: .3rem
  background-color: var(--color-blue)
  color: var(--color-white)
  font-size: small
  user-select: none
  cursor: pointer

  &::before
    // content: "\25CF"
    // color: var(--color-white)

  &:hover
    opacity: 0.8
